@import url(main_style.css);
header{
	width: 100%;
	height: auto;
	background-color: var(--bg-color);
	background-image: url(e:/Projects/Marvel_info/img/comix-fon.jpg);
	background-size: 100%;
}
#header_opacity{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding-top: 150px;
	padding-bottom: 150px;
	text-align: center;
	background-color: rgba(var(--r), var(--g), var(--b), 0.5);
}
#main_bg{
	width: 100%;
	background-color: var(--bg-color);
	background-image: url(e:/Projects/Marvel_info/img/Marvel_comix.jpg);
	background-size: 100%; 
}
#main_opasity{
	width: 100%;
	padding-bottom: 70px;
	background-color: rgba(var(--r), var(--g), var(--b), 0.5);
}
#main{
	width: 90%;
	margin-left: 5%;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	box-sizing: border-box;
	box-shadow: 0 0 10px var(--shadow);
	background-color: var(--bg-color); 
	padding-bottom: 50px;
}
#main h1{
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 70px;
	color: red;
	text-shadow: 0 0 3px black;
	letter-spacing: 1px;
	font-size: 250%;
}
#main img{
	width: 100%;
	box-shadow: 0 0 10px var(--shadow);	
}
@media screen and (min-width:768px) {
	#header_opacity img{
		width: 500px;
		box-shadow: 0 0 20px var(--shadow);
	}
	#main a{
		width: 30%;
		margin-top: 30px;
		transition: 0.5s all;
	}
	#main a:hover{
		width: 31%;
		margin-top: 25px;
		transition: 0.5s all;
	}
}

@media screen and (max-width: 768px) and (min-width: 540px) {
	#header_opacity img{
		width: 500px;
		box-shadow: 0 0 20px var(--shadow);
	}
	#main a{
		width: 46%;
		margin-top: 30px;
		transition: 0.5s all;
	}
	#main a:hover{
		width: 47%;
		margin-top: 25px;
		transition: 0.5s all;
	}
}

@media screen and (max-width: 540px){
	#header_opacity img{
		width: 300px;
		box-shadow: 0 0 20px var(--shadow);
	}
	#main a{
		width: 95%;
		margin-top: 30px;
		transition: 0.5s all;
	}
	#main a:hover{
		width: 96%;
		margin-top: 25px;
		transition: 0.5s all;
	}
}